#mainHeader {
  text-align: center;
  /* display: flex;
  background-color: rgb(102, 102, 230);
  justify-content: center; */
}

input {
  border-radius: 5px;
}

#topForm {
  display: flex;
  justify-content: center;
}
#MainContainer {
  /* insert styling here that arranges boxes as needed */
  /* display: flex;
  justify-content: center; */
}

#AppContainer {
  width: 1fr;
  height: 1fr;
  /* background-color: red; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 5px;
  /* flex-direction: column;
  justify-content: space-around; */
}

/* .row {
  width: 1000px;
  height: 300px;
  background-color: rgb(227, 241, 246);
  display: flex;
  justify-content: center;
} */

.quadrant {
  width: 600px;
  height: 250px;
  background-color: rgb(68, 172, 207);
  padding: 5px;
  border: 1px solid white;
  flex-grow: 1;
  flex-shrink: 1;
}

h3 {
  font-size: 16px;
  text-align: center;
}

a {
  color: black;
}
